<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
        {% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mechanical System</title>
    <link rel="shortcut icon" href="{% static 'img/logoICO.ico' %}" type="image/x-icon" />
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        {% load widget_tweaks %}
    <style type="text/css">
        body {
            background: #403B4A;
            background: -webkit-linear-gradient(to right, #4D4545, #000000);
            background: linear-gradient(to right, #4D4545, #000000);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">

        


                    <style type="text/css">
                        .dow{
                            margin-top:20%;
                        }
                        .white{
                            color: #FFF;
                        }
                    </style>
<div class="col-md-12 text-center">
    <div class="dow">
        
                            <h1 class="text-center" style="color:#FFF">Instruções Enviadas com Sucesso</h1>
                            <p style="color:#FFF;font-size: 20pt;">Confira seu email.</p>
                            <button class="btn btn-primary btn-block col-md-4" style="margin-right: auto;margin-left: auto;"><a href="{% url 'login'%}" class="white">OK</a></button>
    </div>
</div>


  
 

 

                    
                </div>
       
   

    </div>
    <script src="{% static 'jsfront/location.js' %}"></script>    
</body>

</html>